@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Statistic</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" />
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/StyleManagerClients.css" />
    <div id="wrapper">
        <div class="overlay"></div>

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Меню
                    </a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Clients">Заявки</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Record">Записи</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Masters">Мастера</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Parts">З\Ч в наличии</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="TypeOfWorks">Типы работ</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Statistic">Статистика</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="Orders">Заказы</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="SendEmail">Рассылка</a>
                </li>
            </ul>
        </nav>

        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" asp-action="SendEmail" asp-controller="Manager">
                                <input class="btn btn-success" type="submit" value="Отправить пользователям уведомление о акциях" />
                                @ViewBag.Message
                            </form>
                        </div>
            </div>
        </div>

    </div>

    </div>
    </div>
    <script>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });
    </script>
</body>
</html>
