@*@model CarService.Models.Account
@{
    ViewData["Title"] = "ForgotPassword";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyAccount</title>
</head>
<body>
    <h2>Восстановление пароля</h2>
    @using (Html.BeginForm())
    {
        @if (@ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <strong>@ViewBag.Message</strong>
            </div>
        }


        <div class="row">
            <div class="col-md-4">
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserMail" class="control-label">Почта</label>
                        <input asp-for="UserMail" class="form-control" />
                        <span asp-validation-for="UserMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Отправить" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
</body>
</html>*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CarService.Models.Account
<!DOCTYPE html>
<html>
<head>
    <title>Forgot pass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--online_fonts-->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dr+Sugiyama&amp;subset=latin-ext" rel="stylesheet">
    <!--//online_fonts-->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style1.css" type="text/css" media="all" />
</head>
<body>
    @using (Html.BeginForm())
    {

        <div class="form-w3ls">
            <div id="signin-agile">
                <p align="center" class="signinP">Восстановление пароля</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="email" name="email" id="email" placeholder="Введите Email">
                    <br /><br />
                    @if (@ViewBag.Message != null)
                    {
                        <strong>@ViewBag.Message</strong>
                    }
                    <input type="submit" value="Отправить" class="sign-in" />
                </form>
            </div>
        </div> <!-- /form -->
        <p class="copyright">&copy; 2018 </p>
        <!-- js files -->
        <script src='~/js/jquery-2.2.3.min.js'></script>
        <script src="~/js/index.js"></script>
        <script src="~/js/notify.min.js"></script>
        <script src="~/js/loginValidation.js"></script>
        <!-- /js files -->
    }
    </body>
</html>
