@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>stylish Sign in and Sign up Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dr+Sugiyama&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="~/css/JiSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/smoothbox.css" type='text/css' media="all" />
    <link rel="stylesheet" href="~/css/style1.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/css/fontawesome-all.css">
</head>
<body>
    <div class="form-w3ls">
        <div id="signin-agile">
                <p align="center" class="signinP">Вход</p>
                <form asp-action="Login" asp-controller="User" asp-anti-forgery="true" id="loginForm" method="post">

                    <input type="email" name="email" id="email" placeholder="Email"  >
                    <input type="password" id="password" name="password" placeholder="Пароль" >
                    <br /><br />
                    @Html.ActionLink("Забыли пароль?", "ForgotPassword", "User")<br /><br />
                    @Html.ActionLink("Регистрация","Registration","User")<br /><br/>
                    @ViewBag.Message
                    <input id="sign" type="submit" class="sign-in" disabled value="Войти">
                </form>
        </div>
    </div> 
    <p class="copyright">&copy; 2019 </p>
    <script src='~/js/jquery-2.2.3.min.js'></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/notify.min.js"></script>
    <script src="~/js/loginValidation.js"></script>
</body>
</html>
